@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/Vazirmatn-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Vazirmatn;
  src: url('./fonts/Vazirmatn-Bold.woff2') format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
    font-family: AmiriWeb;
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/Amiri-Regular.woff2') format('woff2'),
         url('./fonts/Amiri-Regular.woff') format('woff');
}
@font-face {
  font-family: "Charis SIL";
  src: url('./fonts/CharisSIL-Regular.woff2') format('woff2'),
       url('./fonts/CharisSIL-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Charis SIL";
  src: url('./fonts/CharisSIL-Italic.woff2') format('woff2'),
       url('./fonts/CharisSIL-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}
@font-face {
  font-family: "Charis SIL";
  src: url('./fonts/CharisSIL-Bold.woff2') format('woff2'),
       url('./fonts/CharisSIL-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Charis SIL";
  src: url('./fonts/CharisSIL-BoldItalic.woff2') format('woff2'),
       url('./fonts/CharisSIL-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}
/*
:lang(ar) {
  -moz-font-feature-settings:"calt=1, liga=1, clig=1, kern=1";
  -moz-font-feature-settings:"calt", "liga", "clig", "kern";
  -ms-font-feature-settings:"calt", "liga", "clig", "kern";
  -webkit-font-feature-settings:"calt", "liga", "clig", "kern";
  font-feature-settings:"calt", "liga", "clig", "kern";
  text-rendering: optimizeLegibility;
  font-family: Vazirmatn, serif;
  */
  /* Amiri */
  /*
  font-size: *1.5em;
  line-height: 200%;
  */
  /* Vazir */
  /*
  font-size: 1.2em; 
  line-height: 100%;
}
*/
.smallcaps {
  font-variant: small-caps;
}
/* Gitbook body text font settings */
/*
.book.font-family-0 {
  font-family: "CharisSIL", "NewComputerModern10", "Brill", "Junicode", "STIX Two Text", "Gentium Plus", FreeSerif, serif;
  font-variant-numeric: oldstyle-nums;
}
.book.font-family-1 {
  font-family: Andika, FreeSans, sans-serif;
}
*/
/* Gitbook TOC pane font settings. This is affecting lists in the body text too..
li {
  font-family: Andika, sans-serif;
}
*/
.watermark {
  opacity: 0.10;
  position: fixed;
  pointer-events:none; /* allows scrolling when cursor over watermark */
  top: 30%;
  left: 30%;
  font-size: 500%;
  color: #00407d;
}
.regartext {
  font-family: Vazirmatn, serif;
  font-size: 1.2em; 
  line-height: 100%;
}
.otherlanguage {
  font-family: Vazirmatn, serif;
  font-size: 1.2em; 
  /*line-height: 150%;*/
  /* needed for divs for right alignment: */
  /*
  direction: rtl;
  unicode-bidi: isolate;
  */
}

